<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Home Page</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <nav
      class="flex items-center justify-between px-8 text-white h-20"
      style="background-color: #312e81"
    >
      <div class="flex items-center">
        <a href="/">
          <img
            class="h-10 w-auto"
            src="https://w7.pngwing.com/pngs/162/843/png-transparent-computer-icons-calendar-date-others-miscellaneous-text-calendar-thumbnail.png"
            alt="Your Company"
          />
        </a>

        <div class="flex items-center pl-3">
          <a href="/">
            <span class="text-2xl">ToDo App</span>
          </a>
        </div>
      </div>

      <div class="ml-auto flex items-center">
        <a href="/login" style="margin-right: 15px">
          <button
            type="button"
            class="rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-600"
          >
            Login
          </button>
        </a>
        <a href="/register">
          <button
            type="button"
            class="rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-600"
          >
            Register
          </button>
        </a>
      </div>
    </nav>

    <section
      class="relative w-full h-[80vh] bg-cover bg-center"
      style="
        background-image: url('https://images.unsplash.com/photo-1496181133206-80ce9b88a853?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
      "
    >
      <div class="absolute inset-0 bg-black opacity-50"></div>
      <div
        class="relative flex items-center justify-center h-full text-center text-white px-6"
      >
        <div>
          <h1 class="text-5xl md:text-6xl font-bold mb-6">
            Welcome to ToDo App
          </h1>
          <p class="text-lg md:text-xl mb-8">Make staying productive easy!</p>
        </div>
      </div>
    </section>

    <div class="container">
      <div>
        <div
          class="flex min-h-full flex-col justify-center px-6 py-5 lg:px-8 sm:mx-auto sm:w-full sm:max-w-sm"
        >
          <h2
            class="mt-8 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
          >
            Why use ToDo App?
          </h2>
        </div>

        <p class="mt-4 text-center text-lg text-gray-600">
          ToDo App is a user-friendly tool designed to help individuals stay
          organized and productive by managing their daily tasks with ease. It
          allows users to create, edit, and categorize tasks. With features like
          deadlines and the ability to incorporate images, as well as add the
          location, users can stay on top of their responsibilities and monitor
          their achievements. The app’s customizable views enable users to
          manage their schedules efficiently, while its cross-device
          synchronization ensures that tasks are always accessible, making it a
          perfect companion for personal and professional use.
        </p>
      </div>

      <div class="mb-10">
        <div
          class="flex min-h-full flex-col justify-center px-6 py-5 lg:px-8 sm:mx-auto sm:w-full sm:max-w-sm"
        >
          <h2
            class="mt-8 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
          >
            Features
          </h2>
        </div>

        <p class="m-4 text-center text-lg text-gray-600">
          Introducing our innovative task management app designed to make your
          life easier and more organized! With our app, you can effortlessly add
          tasks and keep track of all your to-dos in one place. Sharing your
          tasks has never been simpler—connect with friends and collaborate by
          sharing individual tasks directly with them. Want to engage with a
          larger audience? Our app also allows you to share tasks with the
          community, giving you a platform to share ideas, get feedback, and
          participate in a vibrant network of users. The app boasts an easy
          layout that is both intuitive and beginner-friendly, ensuring that
          anyone can get started quickly without any hassle. Whether you're
          managing personal projects, working with friends, or contributing to a
          community, our app provides the tools you need to stay organized and
          connected
        </p>
      </div>
    </div>

    <footer>
      <div class="bg-gray-100">
        <div
          class="max-w-screen-lg px-4 sm:px-6 text-gray-800 sm:grid md:grid-cols-4 sm:grid-cols-2 mx-auto"
        >
          <div class="p-5">
            <h3 class="font-bold text-xl text-indigo-600">ToDo App</h3>
          </div>
          <div class="p-5">
            <div class="text-sm uppercase text-indigo-600 font-bold">
              Resources
            </div>
            <a class="my-3 block" href="/#"
              >Documentation <span class="text-teal-600 text-xs p-1"></span></a
            ><a class="my-3 block" href="/#"
              >Tutorials <span class="text-teal-600 text-xs p-1"></span></a
            ><a class="my-3 block" href="/#"
              >Support <span class="text-teal-600 text-xs p-1">New</span></a
            >
          </div>
          <div class="p-5">
            <div class="text-sm uppercase text-indigo-600 font-bold">
              Support
            </div>
            <a class="my-3 block" href="/#"
              >Help Center <span class="text-teal-600 text-xs p-1"></span></a
            ><a class="my-3 block" href="/#"
              >Privacy Policy <span class="text-teal-600 text-xs p-1"></span></a
            ><a class="my-3 block" href="/#"
              >Conditions <span class="text-teal-600 text-xs p-1"></span
            ></a>
          </div>
          <div class="p-5">
            <div class="text-sm uppercase text-indigo-600 font-bold">
              Contact us
            </div>
            <a class="my-3 block" href="/#"
              >461 Clementi Rd, Singapore 599491
              <span class="text-teal-600 text-xs p-1"></span></a
            ><a class="my-3 block" href="/#"
              >contact@todoapp.com
              <span class="text-teal-600 text-xs p-1"></span
            ></a>
          </div>
        </div>
      </div>

      <div class="bg-gray-100 pt-2">
        <div
          class="flex pb-5 px-3 m-auto pt-5 border-t text-gray-800 text-sm flex-col max-w-screen-lg items-center"
        >
          <div class="my-5">© Copyright 2024. All Rights Reserved.</div>
        </div>
      </div>
    </footer>
  </body>
</html>
