<form method="POST" action="/reset-password/<%= token %>">
    <input type="password" id="newPassword" name="newPassword" required placeholder="New Password">
    <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Confirm Password">
    <button type="submit">Reset Password</button>
    <p><%= message %></p>
</form>